/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

*[contenteditable] {
  @apply focus:outline-none;
}

.prose .mention {
  @apply text-purple-400 bg-purple-100;
  @apply rounded;
  @apply px-1 py-0.5;
}
